.bigcard {
    //?------------------Фоновое изображение -----------------------
    &__background {
        margin: 0 auto;
        max-width: 1160px;
        background: url('../img/bigcard/bg-card.jpg') 50% no-repeat;
     
    }
    &__filter{
        @media (max-width:767.9px) { 
            background: rgba(0, 0, 0, 0.3);
        }
    }
    &__container {
        
        padding: 90px 100px;
        @media (max-width:1160px) { 
            padding: 70px 90px;
        }
      
        @media (max-width:1200px) { 
            padding: 45px 40px;
        }
        @media (max-width:1022px) { 
            padding: 45px 40px;
        }
        @media (max-width:767.9px) { 
            padding: 30px 20px;
        }
        @media (max-width:660px) { 
            padding: 30px 20px;
        }
        @media (max-width:550px) { 
            padding: 20px 20px;
        }
    }
    &__top {
        padding-bottom: 150px;
        @media (max-width:660px) { 
            padding-bottom: 100px;
        }
    }
    &__top img{
        @media (max-width: 767.9px) {
            width: 40px;
            height: 25px;
        }
    }
    &__bottom {

    }
    &__title h4 {
        padding-bottom: 30px;
        font-weight: 500;
        font-size: 45px;
        line-height: 1.1; 
        color: #F1F1F1;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.71);
        @media (max-width:1160px) { 
            padding-bottom: 15px;
            font-size: 30px;
        }
        @media (max-width:767.9px) { 
            padding-bottom: 10px;
            font-size: 25px;
        }
        @media (max-width:550px) { 
            font-size: 20px;
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: -0.01em;
        color: #F1F1F1;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.71);
        @media (max-width:1160px) { 
            font-size: 18px;
        }
        @media (max-width:767.9px) { 
            font-size: 15px;
        }
        @media (max-width:550px) { 
            font-size: 12px;
        }
    }
}
