.design {
    &__title{
        padding-top: 0px;
    }
    &__cards {
        width: auto;
        height: auto;
        display: flex;
        gap: 40px;
        @media (max-width:1050px) { 
            gap: 40px;
        }
        @media (max-width:900px) { 
            flex-direction: column;
             gap: 20px;
        }
    }
    &__item1 {
        padding: 60px;
        @media (max-width:1200px) { 
            padding: 30px; 
        }
        @media (max-width:950px) { 
            padding: 20px; 
        }
        @media (max-width:370px) { 
            padding: 10px; 
        }
        flex: 1 1 50%;
        @media (max-width:900px) { 
            flex: 1 1 auto; 
            max-width: 550px;
            max-height: 550px;
        }
        margin: 0 auto;
        background: url('../img/design/1.png') 50% center no-repeat;
        @media (max-width:900px) { 
            background: url('../img/design/1.png') 50% 80% no-repeat;
        }
        @media (max-width:550px) { 
            background: url('../img/design/1.png') 50% 70% no-repeat;
        }
        @media (max-width:420px) { 
            flex-direction: column;
            background: url('../img/design/1.png') 30% 70% no-repeat;
        }
    }
    &__item2 {
        padding: 60px;
        @media (max-width:1200px) { 
            padding: 30px; 
        }
        @media (max-width:950px) { 
            padding: 20px; 
        }
        @media (max-width:370px) { 
            padding: 10px; 
        }
        flex: 1 1 50%;
        @media (max-width:900px) { 
            flex: 1 1 auto; 
            max-width: 550px;
            max-height: 550px;
        }
        margin: 0 auto;
        background: url('../img/design/2.png') 50% center no-repeat;
        @media (max-width:550px) { 
            background: url('../img/design/2.png') 50% 70% no-repeat;
        }
        @media (max-width:370px) { 
            background: url('../img/design/2.png') 50% 55% no-repeat;
        }
    }
    &__subtitle {
        padding-bottom: 15px;
        @media (max-width:900px) { 
            padding-bottom: 8px;
        }
        @media (max-width:400px) { 
            padding-bottom: 5px;
        }
        margin-top: 340px;
        @media (max-width:1200px) { 
            margin-top: 260px;
        }
        @media (max-width:1160px) { 
            margin-top: 260px;
        }
        @media (max-width:1200px) { 
            margin-top: 350px;
        }
        @media (max-width:550px) { 
            margin-top: 200px;
        }
        @media (max-width:370px) { 
            margin-top: 150px;
        }
        font-weight: 600;
        font-size: 20px;
        @media (max-width:900px) { 
            font-size: 18px;
        }
        @media (max-width:580px) { 
            font-size: 15px;
        }
        @media (max-width:400px) { 
            font-size: 13px;
        }
       
        line-height: 1.2;
        color: #F1F1F1;
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        @media (max-width:900px) { 
            font-size: 12px;
        }
        @media (max-width:580px) { 
            font-size: 11px;
        }
        @media (max-width:400px) { 
            font-size: 10px;
        }
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #F1F1F1;
    }
}
