.header {
    &__box {
        @media (max-width: 1160px) {
            padding: 0px 20px; 
        }
        @media (max-width: 767.9px) {
            //бургер меню
        }
    }
    &__row {
        display: flex;
        align-items: center;
        min-height: 133px;
        @media (max-width: 1160px) {
            min-height: 80px;
        }
        @media (max-width: 767.9px) {
            min-height: 60px;
        }
    }
    &__logo {
        flex: 0 0 60px;
        margin-right: 80px;
        @media (max-width: 860px) {
            margin-right: 55px;
        }
        @media (max-width: 767.9px) {
            margin-right: 0px;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 1 500px;
        margin-right: 80px;
        @media (max-width: 1160px) {
            margin-right: 60px;
        }
        @media (max-width: 860px) {
            margin-right: 50px;
        }
        @media (max-width: 767.9px) {
            flex: 0 0 0px;
            display: none;
        }
    }
    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #F1F1F1;
    }
    &__link:not(:last-of-type) {
        margin-right: 5px;
    }
    &__button {
        margin-left: auto;
        padding: 15px 35px;
        background: #F1F1F1;
        border-radius: 65px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        color: #151515;
        @media (max-width:767.9px) {
            display: none;
        }
    }

 //?---------------------бургер-------------------
    &__burger{
        display: none;
        @media (max-width:767.9px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 10;
            margin-left: auto;
        }
    }
    &__burger span {
        @media (max-width:767.9px) {
            position: absolute;
            background: rgba(255, 255, 255, 1);
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
    }
    &__burger:before,&__burger::after{
        @media (max-width:767.9px) {
            content: '';
            background: rgba(255, 255, 255, 1);
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
    }
    &__burger:before{
        top: 0;
    }
    &__burger:after{
        bottom: 0;
    }
 //?----------------------при нажатии на бургер-------------------
 //?------------------когда появляется класс active---------------
    &__burger.active:before { 
        transform: rotate(45deg); //вращение псевдоэлемента
        top: 9px;
    }
    &__burger.active:after { 
        transform: rotate(-45deg); //вращение псевдоэлемента
        bottom: 9px;
    }
    &__burger.active span {
        transform: scale(0); // скрываем центральный элемент бургера
    }
//?------------------содержимое бургер меню-----------------------

    &__burger-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: rgba(0, 0, 0, 0.9);
        transform: translateX(+100%);
        transition: transform 0.5s; 
    }
    &__burger-menu.active {
        @media (max-width:767.9px) {
        transform: translateX(0);
        }
    }
    &__burger-menu {
        list-style-type: none;
    }
    &__burger-menu nav {
        padding-top: 50px;//отступ от header
        width: 100%;
        height: 100%;
        overflow: auto; //прокрутка самого меню
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
//при открытом меню блокируем прокрутку страницы
@media (max-width:767.9px) {
    body.lock{ 
        overflow: hidden;
    }
} 
.burger { //стили ссылок меню
    &__link{
        font-size: 30px;
    }
}

.header{
    &__box{
        background: url('../img/present/Байк1.png') no-repeat;
    }
}