.header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    position:-webkit-sticky;
    top: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.93);
    &__row {
        display: flex;
        align-items: center;
        min-height: 100px;
        @media (max-width: 1160px) {
            min-height: 80px;
        }
        @media (max-width: 767.9px) {
            min-height: 60px;
        }
    }
    &__logo {
        flex: 0 0 60px;
        margin-right: 80px;
        @media (max-width: 860px) {
            margin-right: 55px;
        }
        @media (max-width: 767.9px) {
            margin-right: 0px;
        }
    }
    &__logo img {
        @media (max-width: 767.9px) {
            width: 40px;
            height: 25px;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 1 500px;
        margin-right: 80px;
        @media (max-width: 1160px) {
            margin-right: 60px;
        }
        @media (max-width: 860px) {
            margin-right: 50px;
        }
        @media (max-width: 767.9px) {
            flex: 0 0 0px;
            display: none;
        }
    }
    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #F1F1F1;
    }
    &__link:not(:last-of-type) {
        margin-right: 5px;
    }
    &__button {
        margin-left: auto;
        padding: 13px 35px;
        background: #F1F1F1;
        border-radius: 65px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        color: #151515;
        @media (max-width:767.9px) {
            display: none;
        }
    }

 //?---------------------бургер-------------------
    &__burger{
        display: none;
        @media (max-width:767.9px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 50;
            margin-left: auto;
        }
    }
    &__burger span {
        @media (max-width:767.9px) {
            position: absolute;
            background: rgba(255, 255, 255, 1);
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
    }
    &__burger:before,&__burger::after{
        @media (max-width:767.9px) {
            content: '';
            background: rgba(255, 255, 255, 1);
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
    }
    &__burger:before{
        top: 0;
    }
    &__burger:after{
        bottom: 0;
    }
 //?----------------------при нажатии на бургер-------------------
 //?------------------когда появляется класс active---------------
    &__burger.active:before { 
        transform: rotate(45deg); //вращение псевдоэлемента
        top: 9px;
    }
    &__burger.active:after { 
        transform: rotate(-45deg); //вращение псевдоэлемента
        bottom: 9px;
    }
    &__burger.active span {
        transform: scale(0); // скрываем центральный элемент бургера
    }
//?------------------содержимое бургер меню-----------------------
    &__burger-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: rgba(0, 0, 0, 0.9);
        transform: translateX(+100%);
        transition: transform 0.5s; 
    }
    &__burger-menu.active {
        @media (max-width:767.9px) {
        transform: translateX(0);
        }
    }
    &__burger-menu {
        list-style-type: none;
    }
    &__burger-menu nav {
        padding-top: 50px;//отступ от header
        width: 100%;
        height: 100%;
        overflow: auto; //прокрутка самого меню
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:767.9px) { //при открытом меню блокируем прокрутку страницы
    body.lock{ 
        overflow: hidden;
    }
} 
.burger { //стили ссылок меню
    &__link{
        font-size: 30px;
    }
}
//?------------------Фоновое изображение -----------------------
.background__image{
    margin: 0 auto;
    max-width: 1160px;
    background: url('../img/intro/bike1-full.png') right top no-repeat;
    @media (max-width:980px) { 
        background: none !important; //- в последствии исчезает и появляется в блоке intro
    }
} 
//?------------------Intro - титры, заголовок, байк-----------------------
.intro {
    padding-top: 50px;
    padding-bottom: 250px; 
    @media (max-width:1160px) {
        padding-top: 60px;
        padding-bottom: 250px;
    } 
    @media (max-width: 980px) {
        background: url('../img/intro/bike1-mini.png') right top no-repeat;
        padding-bottom: 0px;
        padding-top: 40px;
        margin-top: 0px;
    } 
    @media (max-width: 700px) {
        background: url('../img/intro/bike1-mini2.png')  right top no-repeat;
        padding-bottom: 0px;
        padding-top: 60px;
        margin-top: 0px;
    } 
    &__container  {
        padding-bottom: 50px;
    }
    &__container h1 {
        padding-top: 130px;
        font-weight: 600;
        font-size: 80px;
        line-height: 1;
        color: $color__h1;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.84);
        @media (max-width:1160px) {
            font-size: 65px;
        } 
        @media (max-width:1040px) {
            font-size: 50px;
            padding-top: 60px;
        } 
        @media (max-width:980px) {
            padding-top: 100px;
        } 
        @media (max-width:780px) {
            font-size: 40px;
        } 
        @media (max-width:767.9px) {
            padding-top: 60px;
        } 
        @media (max-width:580px) {
            padding-top: 50px;
            font-size: 30px;
        } 
        @media (max-width:440px) {
            font-size: 21px;
        } 
    }
    &__container p {
        margin-top: 30px;
        margin-bottom: 30px;
        @media (max-width:580px) {
            margin-top: 20px;
            margin-bottom: 20px;
        } 
        font-weight: 600;
        font-size: 30px;
        line-height: 1.2;
        color: $color__p;
        @media (max-width:1160px) {
            font-size: 25px;
        } 
        @media (max-width:1040px) {
            font-size: 25px;
        } 
        @media (max-width:860px) {
            font-size: 19px;
        } 
        @media (max-width:780px) {
            font-size: 18px;
        } 
        @media (max-width:580px) {
            font-size: 15px;
        } 
        @media (max-width:460px) {
            font-size: 13px;
        } 
        @media (max-width:440px) {
            font-size: 12px;
        } 
        @media (max-width:380px) {
            font-size: 10px;
        } 
        @media (max-width:350px) {
            font-size: 8px;
        } 
    }
}
.checking.active { //скрываем переключаетель 'черный/белый' при открытом меню бургер
    position: relative;
    z-index: -1;
}