.present {
    &__container {
    }
    &__title {
       margin-top: 0px;
        @media (max-width:980px) {
            margin-top: 50px;
        }
        @media (max-width:580px) {
            margin-top: 30px;
        }
      
    }
    &__cards {
        display: flex;
        margin: 0px -10px;
        flex-direction: row;
        @media (max-width:660px) {
            flex-wrap: wrap;
            flex-direction: column;
        } 
    }
    &__card {
        display: flex;
        flex-direction: column;
        flex: 0 0 33.333%;
        padding: 0px 10px;
      
        @media (max-width:870px) {
            height: auto;
        }
        @media (max-width:768px) {
            margin-bottom: 15px;  
        }
        @media (max-width:580px) {
            margin-bottom: 8px;  
        }
        @media (max-width:440px) {
            margin-bottom: 3px;  
        }
    }
    &__card *:not(:last-child) {
        margin-bottom: 15px;
        
    }
    @media (max-width:870px) { //отступы под всеми карточками
        &__card *:last-child {
            margin-bottom: 15px;
        }
    }
    @media (max-width:780px){
        &__card *:last-child {
            margin-bottom: 5px;
        }
        &__card *:not(:last-child) {
            margin-bottom: 7px;
            
        }
    }
    //?------------------большие и маленькие изображения-----------------------
    &__picture{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
       
    }
    &__hiddensmall { //скрытые изображения
        display: none;
        @media (max-width:660px){
            display: inline-block;
        }
    }
    &__hiddensmall img, &__hiddensmall2 img{
       width: 100%;
       height: 100%;
    }
    &__hiddenbig, &__hiddenbig1{
        position: relative;
        margin-right: 10px;
        @media (max-width:970px){
            display: flex;
           flex-direction: row;
            text-align: center;
            margin-right: 0px;
        }
        @media (max-width:1200px){
            display: flex;
            flex: 1 1 33.333%;
            width: 100%;
            height: auto;
        }
        @media (max-width:975px){
            display: none;
        }
    }
    &__hiddenbig, &__hiddenbig1{
        position: relative;
        margin-right: 10px;
        @media (max-width:970px){
            display: flex;
           flex-direction: row;
            text-align: center;
            margin-right: 0px;
        }
        @media (max-width:1200px){
            display: flex;
            flex: 1 1 33.333%;
            width: 100%;
            height: auto;
        }
        @media (max-width:975px){
            display: none;
        }
    }
    &__hiddenbig img {
        max-width: 100%;
        object-fit: cover;
        @media (max-width:975px){
            width: 100%;
            object-fit: cover;
            position: absolute; top: 50%; left: 50%;
            transform: translate(-50%, 0%);
        }
    }
    &__hiddenbig1 img {
        max-width: 100%;
        object-fit: cover;
        @media (max-width:975px){
            width: 100%;
            object-fit: cover;
            position: absolute; top: 50%; left: 50%;
            transform: translate(-50%, 0%);
        }
    }
    &__hiddenbig1 {
        display: none;
        @media (max-width:975px){
            display: block;
        }
        @media (max-width:660px){
            display: none;
        }
    }
    &__hiddenbig2 {
        @media (max-width:975px){
            display: none;
        }
    }
    &__hiddensmall3{
        display: none;
        flex-direction: row;
         text-align: center;
         margin-right: 0px;
         @media (max-width:975px){
            display: flex;
        }
    }
}
//?------------------Карточки -----------------------
.card {
    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: #F1F1F1;
        @media (max-width:780px) {
            font-size: 16px;
        } 
        @media (max-width:580px) {
            font-size: 14px;
        } 
        @media (max-width:440px) {
            font-size: 12px;
        } 
    }
    &__divider {
        width: auto;
        height: 3px;
        background: #FF4C0D;
        border: 1px solid #FF4C0D;
        @media (max-width:870px) {
            width: 150px;
        } 
    }
    &__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #F1F1F1;
        @media (max-width:870px){
            font-size: 12px;
        }
        @media (max-width:580px) {
            font-size: 10px;
        } 
        @media (max-width:440px) {
            font-size: 10px;
        } 
    }
}

