@import "null";
@import "fonts";

body {
    font-family: 'Gilroy';


    margin: 0 auto;

    // background: #E0E0E0;
    background: #222222;

}

[class*="__container"] {
    max-width: 1160px;
    margin: 0 auto;

       @media (max-width:1200px) {
        padding: 0px 20px;
    } 
}
[class*="__container2"] {
    max-width: 1160px;
    margin: 0 auto;
       @media (max-width:1200px) {
        padding: 0 0 0 20px;
    } 
}
.page {
    &_header {
        
    }
    &__present{

    }
    &__title{ //стили всех title h1 на контентной части
        font-weight: 500;
        font-size: 45px;
        line-height: 1.1;
        color: #F1F1F1;
        padding-bottom: 60px;
        @media (max-width:1160px) {
            font-size: 40px;
            padding-bottom: 50px;
        } 
        @media (max-width:1040px) {
            font-size: 35px;
            padding-bottom: 35px;
        } 
        @media (max-width:780px) {
            font-size: 25px;
            padding-bottom: 25px;
        } 
        @media (max-width:580px) {
            font-size: 20px;
            padding-bottom: 20px;
        } 
        @media (max-width:500px) {
            font-size: 17px;
            padding-bottom: 18px;
        } 
        @media (max-width:440px) {
            font-size: 14px;
            padding-bottom: 15px;
        } 
    }
}
// задаем цвета для текста
$color__h1: #F1F1F1;
$color__p: #FF4C0D;


@import "header";

@import "checkbox";

@import "present";

