@import "null";
@import "fonts";

body {
    font-family: 'Gilroy';
    margin: 0 auto;
    // background: #E0E0E0;
    background: #222222;
}

[class*="__container"] {
    max-width: 1160px;
    margin: 0 auto;
       @media (max-width:1200px) {
        padding: 0px 40px;
    } 
       @media (max-width:767.9px) {
        padding: 0px 20px;
    } 
}
[class*="__container2"] {
    max-width: 1160px;
    margin: 0 auto;
       @media (max-width:1200px) {
        padding: 0 0 0 60px;
    } 
       @media (max-width:767.9px) {
        padding: 0 0 0 20px;
    } 
}
.page {
    &_header {
    }
    &__intro{ //выравниваем под нашу фиксированную шапку
       margin-top: 100px;
       @media (max-width: 1160px) {
          margin-top: 80px;
       }
       @media (max-width: 767.9px) {
          margin-top: 60px;
       }
    }
    &__present{
        margin-bottom: 60px;
        @media (max-width: 1160px) {
            margin-bottom: 50px;
        }
        @media (max-width: 1040px) {
            margin-bottom: 40px;
        }
        @media (max-width: 780px) {
            margin-bottom: 35px;
        }
        @media (max-width: 580px) {
            margin-bottom: 20px;
        }
    }
    &__bigcard{
        margin: 60px 0px 60px;
        @media (max-width: 1200px) {
            margin: 70px 0px 60px;
        }
        @media (max-width: 1160px) {
            margin: 70px 0px 0px;
        }
        @media (max-width: 1040px) {
            margin: 50px 0px 0px;
        }
        @media (max-width: 780px) {
            margin: 45px 0px 0px;
        }
        @media (max-width: 580px) {
            margin: 30px 0px 0px;
        }
    }
    &__design{
       
        
    }
    &__care{
        
    }
    &__title{ //стили всех title h2 на контентной части
        font-weight: 500;
        font-size: 45px;
        line-height: 1.1;
        color: #F1F1F1;
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.71);
        @media (max-width:1160px) {
            font-size: 40px;
            padding-top: 60px;
            padding-bottom: 50px;
        } 
        @media (max-width:1040px) {
            text-align: center;
            display: flex;
            margin: 0 auto;
            justify-content: center;         //! -------------------------
            font-size: 35px;
            padding-top: 50px;
            padding-bottom: 40px;
        } 
        @media (max-width:780px) {
            font-size: 25px;
            padding-top: 45px;
            padding-bottom: 35px;
        } 
        @media (max-width:580px) {
            font-size: 20px;
            padding-top: 40px;
            padding-bottom: 30px;
        } 
        @media (max-width:500px) {
            font-size: 17px;
        } 
        @media (max-width:440px) {
            font-size: 14px;
        } 
    }
    &__title h2{
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.71);
        @media (max-width:767.9px) {
            margin: 0 auto;
            text-align: center;
        } 
    }
}
// задаем цвета для текста
$color__h1: #F1F1F1;
$color__p: #FF4C0D;


@import "header";

@import "checkbox";

@import "present";

@import "bigcard";

@import "design";

@import "care";

