@import "null";
@import "fonts";

body {
    font-family: 'Gilroy';

    max-width: auto;
    margin: 0 auto;
    border: 1px solid red;
    // background: #E0E0E0;
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
box-header {
    max-width: 1440px;
    margin: 0 auto;
}
[class*="__container"] {
    max-width: 1160px;
    margin: 0 auto;

       @media (max-width:1200px) {
        padding: 0px 20px;
    } 
}
.page {
    &_header {
        
    }
    &__present{

    }
    &__title{ //стили всех title h1 на контентной части
        font-weight: 500;
        font-size: 45px;
        line-height: 1.1;
        color: #F1F1F1;
        @media (max-width:1160px) {
            font-size: 40px;
        } 
        @media (max-width:1040px) {
            font-size: 35px;
        } 
        @media (max-width:780px) {
            font-size: 25px;
        } 
        @media (max-width:580px) {
            font-size: 20px;
        } 
        @media (max-width:440px) {
            font-size: 17px;
        } 
    }
}
// задаем цвета для текста
$color__h1: #F1F1F1;
$color__p: #FF4C0D;


@import "header";

@import "checkbox";

@import "present";

